body{
    background-color: #19b3be;
}
.wrapper {
	height: 481px;
	margin: 65px auto 0;
	position: relative;
	width: 900px;
}
@media (max-width:1023px) and (min-width:500px){
.wrapper{
    height: 280px;
    width: 450px;
    margin: 26px auto 0;
}
}
.wrapper > input {
	display: none;
}
.slider {
	background-color: #ddd;
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}
@media (max-width:1023px) and (min-width:500px){
    .slider{
        border-radius: 6%;
    }
    }
.wrapper .controls {
	left: 100%;
	margin-left: -172px;
	position: absolute;
}

.wrapper label:after {
	border: 2px solid #78787a;
	content: " ";
	display: block;
	height: 12px;
	left: -2px;
	position: absolute;
	top: -2px;
	width: 12px;
	border-radius: 50%;
}
/* .slides {
	height: inherit;
	position: absolute;
	width: inherit;
} */
.slide1 { background-image: url(./img/346945126004790.jpg);}
.slide2 { background-image: url(./img/346946999297981.jpg);}
.slide3 { background-image: url(./img/346947002396955.jpg);}
.slide4 { background-image: url(./img/756704814157974.jpg);}

@media  (max-width:500px){
.slide1 { background-image: url(./img/346945126004790.png);}
.slide2 { background-image: url(./img/346946999297981.png);}
.slide3 { background-image: url(./img/346947002396955.png);}
.slide4 { background-image: url(./img/756704814157974.png);}
    }


.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 12px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 12px;
    border-radius: 50%;
	transition: background ease-in-out .5s;
}

.wrapper label:hover {
    background: #ddd;
}
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4) {
	background: #78787a;
}
.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	transform: scale(1.5);
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4 {
	opacity: 1;
	z-index: 1;
	transform: scale(1);
}
 /* .caption-controls{
    display: inline-block;
} */
/* .caption1 {content: "?Red car";}
.caption2 {content: "?Grey car";}
.caption3 {content: "?Yellow car";}
.caption4 {content: "?White car";} */

.caption{ 
color: #ddd;
font-family: Forum;
font-size:20px;
font-style: normal;
font-weight: 700;
line-height: 20px; 
letter-spacing: 0.6px;
}
.caption1{
    z-index: 0;
}
.caption2{
    z-index: 1;
}
.caption3{
    z-index: 2;
}
.caption4{
    z-index: 3;
}

.caption{
    position: absolute;
    opacity: 0;
    z-index: 1;
    margin: 20px 0 0 0px;
    width: 200px;
    height: 30px;
    transform: scale(1.5);
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide1:checked ~ .captions > .caption1,
#slide2:checked ~ .captions > .caption2,
#slide3:checked ~ .captions > .caption3,
#slide4:checked ~ .captions > .caption4 {
	opacity: 1;
	z-index: 5;
	transform: scale(1);
}  